.lor-seo-tabs .nav-tab-wrapper {
    margin-bottom: 0;
    border-bottom: 1px solid #dfdfdf;
}

.lor-seo-tabs .nav-tab-active {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.lor-seo-tabs .inside {
    display: block;
    border: 1px solid #dfdfdf;
    border-top: none;
    margin-top: 0 !important;
    background: #fff;
    padding-top: 6px;
}

.lor-seo-tabs .inside.hidden {
    display: none;
}

.lor-seo-tabs .inside :first-child {
    margin-top: 0;
}

.lor-seo-tabs .inside input[type=text] {
    width: 100%;
}