/* 
    Created on : 11-jan-2016, 16:11:24
    Author     : Nick Vlug <nick@ruddy.nl>
*/
* {
  box-sizing: inherit; }

.buzz-seo-wrapper {
  background: #fff;
  border: 2px solid #e6e6e6;
  margin-top: 20px;
  width: calc(100% - 20px); }
  .buzz-seo-wrapper .inside {
    padding: 20px 15px; }
    .buzz-seo-wrapper .inside h1 {
      font-size: 20px;
      line-height: 1em;
      padding: 0px;
      margin: 0px;
      color: #e12831;
      margin-bottom: 15px; }

.buzz-seo-tabs .nav-tab-wrapper {
  margin-bottom: 0px;
  border-bottom: 1px solid #dfdfdf; }
.buzz-seo-tabs .nav-tab-active {
  background: #fff;
  border-bottom: 1px solid #fff; }
.buzz-seo-tabs .inside {
  display: block;
  border: 1px solid #dfdfdf;
  border-top: none;
  margin-top: 0 !important;
  background: #fff;
  padding-top: 6px; }
  .buzz-seo-tabs .inside.hidden {
    display: none; }
  .buzz-seo-tabs .inside:first-child {
    margin-top: 0px; }
  .buzz-seo-tabs .inside input[type=text] {
    width: 100%; }

#buzz-seo-content-analysis > ul > li {
  font-weight: bold;
  margin-top: 1em; }
  #buzz-seo-content-analysis > ul > li:first-of-type {
    margin-top: 0px; }
  #buzz-seo-content-analysis > ul > li > ul {
    font-weight: normal;
    list-style: disc;
    margin-left: 1.5em; }
#buzz-seo-content-analysis .error {
  color: red; }
#buzz-seo-content-analysis .warning {
  color: orange; }
#buzz-seo-content-analysis .good {
  color: green; }
