.buzz-seo-tabs .nav-tab-wrapper {
    margin-bottom: 0;
    border-bottom: 1px solid #dfdfdf;
}

.buzz-seo-tabs .nav-tab-active {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.buzz-seo-tabs .inside {
    display: block;
    border: 1px solid #dfdfdf;
    border-top: none;
    margin-top: 0 !important;
    background: #fff;
    padding-top: 6px;
}

.buzz-seo-tabs .inside.hidden {
    display: none;
}

.buzz-seo-tabs .inside :first-child {
    margin-top: 0;
}

.buzz-seo-tabs .inside input[type=text] {
    width: 100%;
}

#buzz-seo-content-analysis li.score1,
#buzz-seo-content-analysis li.score2,
#buzz-seo-content-analysis li.score3,
#buzz-seo-content-analysis li.score4 {
    color: red;
}
#buzz-seo-content-analysis li.score5, 
#buzz-seo-content-analysis li.score6,
#buzz-seo-content-analysis li.score7 {
    color: orange;
}
#buzz-seo-content-analysis li.score8, 
#buzz-seo-content-analysis li.score9,
#buzz-seo-content-analysis li.score10 {
    color: green;
}